@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<h5>Certain Death</h5>

<ol>
    <li>
        New Game
    </li>
    <li>
        Resume current game
    </li>
    <li>
        How to play
    </li>
    <li>
        about
    </li>
</ol>