@{
    ViewBag.Title = "How To Play";
}

<h2>How To Play</h2>

<div>
    <p>
        Welcome to Certain Death! New to the game? No problem! Let's go over the basics...<br />

        To start off with let's talk about the <strong>fire</strong>. <img src="/Content/Images/Fire.png"/> The fire is the core of the game. Your goal is to protect it! If it dies, you die. <br />

        If you look around more you will notice <strong>resources</strong>. <img src="/Content/Images/STONE.png"/> Shown is a <strong>stone</strong> resource. You can click on resources to gather them.
        Later on, you will make <strong>Automatic Harvesters</strong> that will gather resources for you. Such as a <strong>Quarry</strong> <img src="/Content/Images/QUARRY"/> <br />

        Speaking of things you can make, let's talk about contructing buildings. If you look on the top right of the game window you will notice a <strong>shop</strong> icon. <img src="/Content/Images/ShopButton.png"/>
        In here you can spend resources you gathered to build those auto harvesters mention earlier, walls, and turrets. <br />

        Wait, did that say walls and turrets? What would those be used for? This brings us to the most important thing for you to know about. <strong>Monsters</strong>. 
        Monsters roam the land and hate the brightness and warmth caused by your fire. They seek to destroy it and anything that gets in their way. You can kill monsters with turrets or by clicking on them. 
        So attack those mosnters and don't let your fire die! <br />

        Oh yea, one more thing... You can move to various <strong>tiles</strong> by *insert method of changing tiles here*. This means you can go to more tiles for more resources. Be careful though! 
        Your fire can still be killed while you are on a different tile!
    </p>
</div>