@using Microsoft.AspNet.Facebook.Models
@model CertainDeathEngine.Models.User.MyAppUser
@{
    ViewBag.Title = "CERTAIN DEATH! Registration";
}

<article id="content">
    <h2>Make a user</h2>
        @* Here we pass in a facebook user.  we need to create a Certain Death user
            to match.  Maybe let them pick a screen name or something - Blake *@
</article>