@using Microsoft.AspNet.Facebook.Models
@model CertainDeathEngine.Models.User.CertainDeathUser
@{
    ViewBag.Title = "CERTAIN DEATH!";
}

<article id="content">

    @* TODO: We need to pass in the @Model.WorldId to the javascript files below.
        http://stackoverflow.com/questions/2190801/passing-parameters-to-javascript-files
        explains a good way to do so, but I dont want to play with the javascript yet since 
        I dont know if very well. - Blake 
        
            Thanks Blake, got it.
            *@
    @Styles.Render("~/Content/Styles/GameStyle.css")
    <script>
        var WorldId = @Model.WorldId;
    </script>

    <div id="shop-window">
        <div class="exit-button">
            X
        </div>
        <div class="shop-title">
            <h3>Building Shop</h3>
        </div>
        <div class="building-list">
            @* Dynamafilled with js *@
        </div>
    </div>

    <script id="building-item" type="text/x-handlebars-template">
        {{#BuildingData}}
        <div class="building-item" id="{{Type}}">
            <div class="title">
                {{Title}}
            </div>
            <div class="price">
                {{#each Costs}}
                <div class="price-pair">
                    <div>{{this}}</div>
                    <img src="/Content/Images/{{@@key}}.png" />
                </div>
                {{/each}}
            </div>
            <div class="description">
                {{Description}}
            </div>
            <div class="purchase-button">
                Purchase
            </div>
        </div>
        {{/BuildingData}}
    </script>

    <script>
        $(function(){
            var source = $("#building-item").html();
            var template = Handlebars.compile(source);
            var building_data = {
                "BuildingData":[
                    {
                        "Title" : "Turret",
                        "Type" : "TURRET",
                        "Costs" : {
                            "COAL" : 10,
                            "WOOD" : 30
                        },
                        "Description" : "Defend your base with an autofiring turret!"
                    },
                    {
                        "Title" : "Coal Mine",
                        "Type" : "AUTO_HARVESTER_MINE",
                        "Costs" : {
                            "COAL" : 10,
                            "WOOD" : 30
                        },
                        "Description" : "Harvest all coal in a 1 square radius."
                    },
                    {
                        "Title" : "Quarry",
                        "Type" : "AUTO_HARVESTER_QUARRY",
                        "Costs" : {
                            "CORN" : 2,
                            "STONE" : 100
                        },
                        "Description" : "Harvest all iron in a 1 square radius."
                    },
                    {
                        "Title" : "Farm",
                        "Type" : "AUTO_HARVESTER_FARM",
                        "Costs" : {
                            "CORN" : 20
                        },
                        "Description" : "Harvest all corn in a 1 square radius."
                    },
                    {
                        "Title" : "Lumber Mill",
                        "Type" : "AUTO_HARVESTER_LUMBER_MILL",
                        "Costs" : {
                            "STONE" : 100
                        },
                        "Description" : "Harvest all wood in a 1 square radius."
                    }
                ]
            };
            $("#shop-window .building-list").html(template(building_data));
        });

        function UpdateShopCosts(data){
            var out = new Array();
            for(var x in data){
                var next = {};
                next["Title"] = x.toString().replace(/_/g, " ");
                next["Type"] = x;
                next["Costs"] = data[x]["Costs"];
                next["Description"] = next["Title"] + " does stuff for you!";
                out.push(next);
            }

            var wrap = {"BuildingData" : out};
            var source = $("#building-item").html();
            var template = Handlebars.compile(source);
            $("#shop-window .building-list").html(template(wrap));
        }

    </script>

    <script src="~/Content/Scripts/phaser.js"></script>
    <script src="~/Content/Scripts/handlebars-v3.0.0.js"></script>
    <script src="~/Content/Scripts/view.js"></script>
    <script src="~/Content/Scripts/game.js"></script>
    <script src="~/Content/Scripts/dom-ui-linkup.js"></script>
</article>