
@*@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Users", "Users")
@Html.ActionLink("FBUsers", "FBUsers")
@Html.ActionLink("Scores", "Scores")
@Html.ActionLink("Worlds", "Worlds")*@