@model IEnumerable<string>
@{
    ViewBag.Title = "WorldThreads";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Loaded World Ids</h2>

@foreach (var item in Model)
{
    <div>@item</div>
}