@model IEnumerable<string>
@{
    ViewBag.Title = "UpdateThreads";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Running update threads</h2>

@foreach (var item in Model)
{
    <div>@item</div>
}