@{
    ViewBag.Title = "How To Play";
    Layout = "_Layout.cshtml";
}
@Styles.Render("~/Content/css")

<div id="content" class="instructions game-over">
    <h5 class="game-over-title">GAME OVER!</h5>
    <p>Thanks for playing! Check the nav links above to play again, or see the hiscores for how well you did.</p>

    <h6>Made by</h6>
    <ul>
        <li>Blake Rollins</li>
        <li>Shayne Hunsaker</li>
        <li>Taylor Bos</li>
        <li>Joshua Ellington</li>
        <li>Trevor Martz</li>
    </ul>
</div>
