@{
    ViewBag.Title = "How To Play";
    Layout = "";
}
@Styles.Render("~/Content/css")

<div id="content" class="instructions">
    <h5>GAME OVER!</h5>
    <p>Thanks for playing! Check the nav links above to play again, or see the hiscores for how well you did.</p>

    <ul>
        <li>Made by</li>
        <li>Blake Rollins</li>
        <li>Shayne Hunsaker</li>
        <li>Taylor Bos</li>
        <li>Joshua Ellington</li>
        <li>Trevor Martz</li>
    </ul>
</div>
