@using CertainDeathEngine.Models.User
@model IEnumerable<Score>

@{
    ViewBag.Title = "LeaderBoard";
}

<h2>LeaderBoard</h2>

<ol class="leaders">
    @foreach (var user in Model)
    {
        <li>@user.FBUser.Name @user.FBUser.Name @user.HighScore.Survived</li>
    }
</ol>