@using CertainDeathEngine.Models.User
@model IEnumerable<Score>

@{
    ViewBag.Title = "LeaderBoard";
}

<h2>LeaderBoard</h2>

<ol class="leaders">
    @foreach (var score in Model)
    {
        <li>@score.ResourcesCollected</li>
    }
</ol>