@{
    ViewBag.Title = "Terms of Service";
    Layout = "_Layout.cshtml";
}
@Styles.Render("~/Content/css")

<div id="content">
    <div class="instructions game-over">
        <h5 class="game-over-title">Terms of Service</h5>
        <p>Coming soon</p>
    </div>
</div>
